<div class="body-div">
  <div class="navbar-custom">
    <div class="navbar-box" style="height: -webkit-fill-available;align-items: center;">
      <div class="" style="color: aliceblue;">
          <img src="/assets/images/logo-trans.png" style="height: 40px;">
      </div>
      <div class="">
          <label style="color: white;padding: 0px 37px;font-size: x-large;">Bienvenido {{apiDataService.user.nombre}}</label>
      </div>
      <div class="">
          <button type="button" class="log-out-btn" (click)="apiDataService.logOut()">
              Cerrar sesión
              <i class="fas fa-door-open"></i>
          </button>
      </div>
    </div>
</div>
<div class="container-fluid" style="">
    <img class="logo-flotante" src="/assets/images/logo-trans.png">
    <div *ngIf="apiDataService.successMessage" class="alert alert-success notificacion-flotante" role="alert">
        {{apiDataService.actualMessageServer}} <button  (click)="apiDataService.closeNotification()">X</button>
    </div>
    <div *ngIf="apiDataService.failMessage" class="alert alert-warning notificacion-flotante" role="alert">
        {{apiDataService.actualMessageServer}} <button (click)="apiDataService.closeNotification()">X</button>
    </div>
    <div class="card-box">
        <div class="" style="text-align: -webkit-center;">
            <div class="card" style="width: 100%;min-height: 460px;">
                <img class="card-img-top"  style="height: 40px;background-color: #4892a9;    margin: 10px;">
                <div class="card-body-fixed">
                    <div class="row" style="text-align: -webkit-center;">
                        <div class="col-sm-2 menu-sidebar" style="text-align: -webkit-center; padding: 0px 45px;">
                            <div class="" style="max-height: 50px;margin-bottom: 15px;">
                                <div class="" style="text-align: left;padding: 0px;">
                                    <h4 style="padding-top: 10px;font-weight: 700;font-size: x-large;">MENU</h4>
                                </div>
                            </div>
                            <div class="" style="max-height: 50px;margin-bottom: 15px;">
                                <div class="" style="text-align: left;padding: 0px;">
                                  <div class="p-b-10">
                                    <a class="link-menu" routerLink="/register-program" routerLinkActive="active">
                                      Capturador
                                    </a>
                                  </div>
                                  <div class="p-b-10">
                                    <a class="link-menu" routerLink="/validations" routerLinkActive="active">
                                      Validador
                                    </a>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10" style="text-align: -webkit-center; padding: 0px 45px;">
                            <div class="row" style="max-height: 50px;margin-bottom: 15px; align-items: center;">
                                <div class="col-3 disp-flex-jsal-center" style="text-align: left;padding: 0px;">
                                  <div>
                                    <h4 style="padding-top: 10px;font-weight: 600;font-size: x-large;">Usuarios</h4>
                                  </div>
                                  <div ngbDropdown class="d-inline-block">
                                    <button class="outline-btn"
                                        id="dropdownBasic1" ngbDropdownToggle>No.
                                        Usuarios {{pageSize}}</button>
                                    <div ngbDropdownMenu
                                        aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem
                                            (click)="pageSize = 5">5</button>
                                        <button ngbDropdownItem
                                            (click)="pageSize = 10">10</button>
                                        <button ngbDropdownItem
                                            (click)="pageSize = 15">15</button>
                                    </div>
                                  </div>
                                </div>
                                <!-- <div class="col-2" style="text-align: right;">
                                    <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                        [collectionSize]="userList.length"
                                        style="width: -webkit-fill-available;text-align: right;">
                                    </ngb-pagination>
                                </div> -->
                                <div class="col-2">
                                    <div class="input-group input-group-sm mb-3" style="    margin-bottom: 0rem!important;height: 38px;">
                                        <div class="input-group-prepend" >
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                                        </div>
                                        <input style="height: 38px;" [(ngModel)]="searchValue"
                                        (ngModelChange)="filterByPEmail($event)" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group-append" style="width: 100%;">
                                        <button style="width: 100%;z-index: auto;" class="dropdown-toggle blu-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span  *ngIf="selectedEntitie == 'Todas'">Todas las Entidades</span>
                                            <span  *ngIf="selectedEntitie != 'Todas'">{{selectedEntitie}}</span>
                                        </button>
                                        <div class="dropdown-menu" >
                                            <a class="dropdown-item" (click)="changeEntitieSelected(-1)">Todas</a>
                                            <a *ngFor="let entitie of entities" class="dropdown-item" (click)="changeEntitieSelected(entitie)">{{entitie}}</a>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-4"style="text-align: right;padding: 0px;">
                                    <span>
                                        <button class="btn btn-success" (click)="selectNewUser()" style="margin: 0px 10px;">
                                            <i class='fas fa-user-plus' style='color:whitesmoke'></i>
                                            Nuevo Usuario
                                        </button>
                                    </span>

                                    <span>
                                        <button class="reload-btn" (click)="reloadData()">
                                            <i class="fas fa-sync" style='color:whitesmoke'></i>
                                             Recargar
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-hover">
                                    <tr >
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Entidad</th>
                                        <th>Usuario</th>
                                        <th>Rol</th>
                                        <th>extension</th>
                                        <th>Accion</th>
                                    </tr>
                                    <tr *ngFor="let user of userListFiltered  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
                                        <th>{{user.idusuarios}}</th>
                                        <th>{{user.nombre}} {{user.apellidos}}</th>
                                        <th>{{user.entidad}}</th>
                                        <th>{{user.usuario}}</th>
                                        <th>
                                            <span  *ngIf="user.rolusuario == 0">Administrador</span>
                                            <span *ngIf="user.rolusuario == 1">Validador</span>
                                            <span *ngIf="user.rolusuario == 2">Capturador</span>
                                            <span *ngIf="user.rolusuario == 3">Visualizador</span>
                                        </th>
                                        <th>{{user.extension}}</th>
                                        <td>
                                            <button (click)="selectUser(user)" class='btn btn-danger' data-target='#modalValidacion' data-toggle='modal' data-id=''>Editar</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row p-b-30">
                                <ngb-pagination [(page)]="page" [pageSize]="pageSize"
                                        [collectionSize]="userList.length"
                                        style="width: -webkit-fill-available;text-align: right;" class="justify-end">
                                    </ngb-pagination>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<button #OpenEditUser type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none;">
    Launch demo modal
</button>


<!-- Modal for edit user data -->
<div class="modal fade" id="exampleModal" tabindex="0" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 7%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="isNew == true">Creando Usuario</h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="isNew == false">Editando usuario #{{selectedUser.idusuarios}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="input-group input-group-lg padding-inputs-user">
                <div class="input-group-prepend" style="width: 40%;">
                  <span style="width: 100%;" class="input-group-text" id="inputGroup-sizing-lg">Usuario</span>
                </div>
                <input *ngIf="isNew == false" disabled [(ngModel)]="selectedUser.usuario" style="width: 60%;" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                <input *ngIf="isNew == true" [(ngModel)]="selectedUser.usuario" style="width: 60%;" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-lg padding-inputs-user">
                <div class="input-group-prepend" style="width: 40%;">
                  <span style="width: 100%;" class="input-group-text" id="inputGroup-sizing-lg">Nombre</span>
                </div>
                <input placeholder="Ingrese el nombre de la persona" [(ngModel)]="selectedUser.nombre" style="width: 60%;" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-lg padding-inputs-user">
                <div class="input-group-prepend" style="width: 40%;">
                  <span style="width: 100%;" class="input-group-text" id="inputGroup-sizing-lg">Apellidos</span>
                </div>
                <input placeholder="Ingrese los apellidos" [(ngModel)]="selectedUser.apellidos" style="width: 60%;" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-lg padding-inputs-user">
                <div class="input-group-prepend" style="width: 40%;">
                  <span style="width: 100%;" class="input-group-text" id="inputGroup-sizing-lg">Email</span>
                </div>
                <input placeholder="Ingrese un correo valido" [(ngModel)]="selectedUser.email" style="width: 60%;" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-lg padding-inputs-user">
                <div class="input-group-prepend" style="width: 40%;">
                  <span style="width: 100%;" class="input-group-text" id="inputGroup-sizing-lg">Entidad</span>
                </div>
                <input placeholder="Ingrese la entidad" [(ngModel)]="selectedUser.entidad" style="width: 60%;" type="number" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-lg padding-inputs-user">
                <div class="input-group-prepend" style="width: 40%;">
                  <span style="width: 100%;" class="input-group-text" id="inputGroup-sizing-lg">Extension</span>
                </div>
                <input placeholder="Ingrese el numero de extension" [(ngModel)]="selectedUser.extension" style="width: 60%;" type="number" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-lg padding-inputs-user">
                <div class="input-group-prepend" style="width: 40%;">
                  <span class="input-group-text" id="inputGroup-sizing-lg" style="width: 100%;">Tipo de usuario</span>
                </div>
                <div class="input-group-append" style="width: 60%;">
                    <button *ngIf="selectedUser.usuario != 'admin'" style="width: 100%;" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span  *ngIf="selectedUser.rolusuario == 0">Administrador</span>
                        <span *ngIf="selectedUser.rolusuario == 1">Validador</span>
                        <span *ngIf="selectedUser.rolusuario == 2">Capturador</span>
                        <span *ngIf="selectedUser.rolusuario == 3">Visualizador</span>
                    </button>
                    <button disabled *ngIf="selectedUser.usuario == 'admin'" style="width: 100%;" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span  *ngIf="selectedUser.rolusuario == 0">Administrador</span>
                    </button>
                    <div class="dropdown-menu" >
                      <a class="dropdown-item" (click)="changeTypeUser(0)">Administrador</a>
                      <a class="dropdown-item" (click)="changeTypeUser(1)">Validador</a>
                      <a class="dropdown-item" (click)="changeTypeUser(2)">Capturador</a>
                      <a class="dropdown-item" (click)="changeTypeUser(3)">Visualizador</a>
                    </div>
                  </div>
            </div>
            <div *ngIf="isNew == false">
                Cambiar contraseña:
            </div>
            <div class="input-group input-group-lg padding-inputs-user">
                <div class="input-group-prepend" style="width: 50%;">
                  <span class="input-group-text" id="inputGroup-sizing-lg" style="width: 100%;">Nueva Contraseña</span>
                </div>
                <input [(ngModel)]="password" type="password" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-lg padding-inputs-user">
                <div class="input-group-prepend" style="width: 50%;">
                  <span class="input-group-text" id="inputGroup-sizing-lg" style="width: 100%;">Confirmar Contraseña</span>
                </div>
                <input [(ngModel)]="newPassword"  type="password" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>
        <div class="modal-footer">
          <button #BtnCloseEditModal type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button (click)="updateUser()"  type="button" class="btn btn-success">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
</div>


