.wrapper{
    background-color: #e4edf2;
    height: 100%;
  }

  
.full-centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.full-left {
  display: flex !important;
  align-items: center !important;
  justify-content: left;
  text-align: left;
}

.full-right {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end;
  text-align: right;
}

.no-margin {
  margin: 0px;
}

.margin-hori-10-5 {
  margin: 10px 5px;
}

.ma-l-70 {
  margin-left: 70px;
}

.bg-header-images {
  background-color: #a8a8a8 !important;
}

.font-normal {
  font-size: medium;
}

.no-padding {
  padding: 0px;
}

.pd-10 {
  padding: 10px;
}

.pd-10-l {
  padding-left: 10px;
}

.pd-10-r {
  padding-right: 10px;
}

.pd-10-t-b {
  padding: 10px 0px;
}

.pd-15 {
  padding: 15px;
}

.title-table {
  font-size: xx-large;
  background-color: #122E5E;
  color: whitesmoke;
  border: 1px #000000 solid;
}

.description-table {
  font-size: large;
  background-color: #e7e7e7;
  color: #1a1a1a;
  border: 1px #000000 solid;
}

.concept-table{
    color: #1a1a1a;
    border: 1px #000000 solid;
}
